{% comment %}
  Renders Pavari product card

  Accepts:
  - product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'pavari-card-product', product: section.settings.show_vendor %}
{% endcomment %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}
<div class="custom-card-product">
<a href="{{ product.url }}">
    <div class="custom-card-product_image-container">
        <img
                src="{{ product.featured_media | image_url: width: 1024 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px,
                 (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product.featured_media.alt | escape }}"
                class="motion-reduce"
        />

    </div>
    {%- if product.metafields.custom.product_prefix != blank -%}
        <h2>{{ product.metafields.custom.product_prefix }}</h2>
    {%- endif -%}
    <p style="">{{ product.title }}</p>
    <span class="price">
    {%- if product.available == false -%}
        <span>SOLD OUT!</span>
    {%- else -%}
        <strong>{{ product.price | money }}</strong>
    {%- endif -%}
    </span>
    <div class="custom-card-product_buttons-container custom-buy-buttons mobile">
        <button class="button buy-now button--primary" {%- if product.available == false -%}disabled{%- endif %} data-variant-id="{{ product.selected_or_first_available_variant.id }}">{%- if product.available == false -%}SOLD OUT{% else %}BUY NOW{%- endif %}</button>
        {% comment %}<button class="button button--secondary" {%- if product.available == false -%}disabled{%- endif %} data-variant-id="{{ product.selected_or_first_available_variant.id }}" >{%- if product.available == false -%}SOLD OUT{% else %}ADD TO CART{%- endif %}</button>{% endcomment %}
        {%- render 'buy-buttons',
                block: block,
                product: product,
                product_form_id: product_form_id,
                section_id: section.id,
                show_pickup_availability: false
        -%}
    </div>
</a>

    <div class="custom-card-product_buttons-container custom-buy-buttons desktop">
        <button class="button buy-now button--primary" {%- if product.available == false -%}disabled{%- endif %} data-variant-id="{{ product.selected_or_first_available_variant.id }}">{%- if product.available == false -%}SOLD OUT{% else %}BUY NOW{%- endif %}</button>
        {% comment %}<button class="button button--secondary" {%- if product.available == false -%}disabled{%- endif %} data-variant-id="{{ product.selected_or_first_available_variant.id }}" >{%- if product.available == false -%}SOLD OUT{% else %}ADD TO CART{%- endif %}</button>{% endcomment %}
        {%- render 'buy-buttons',
                block: block,
                product: product,
                product_form_id: product_form_id,
                section_id: section.id,
                show_pickup_availability: false
        -%}
    </div>
</div>
