{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .stay-updated {
    padding: 120px 80px;
  }

  .stay-updated_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .stay-updated_wrapper > div {
    flex: 1;
    max-width: 630px;
  }
{%- endstyle -%}

<div class="stay-updated center {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
    <h2 class="title inline-richtext h0 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <strong>STAY UPDATED</strong>
    </h2>
    <div class="stay-updated_wrapper">
      <div class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        Sip a little sunshine. Sign up for Pavari updates, fresh serving inspiration, and moments made to be noticed straight to your inbox.
      </div>
      <div {{ block.shopify_attributes }}>
        <div class="field">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            placeholder="Enter your email"
            required
          >
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            Enter your email
          </label>
          <button
            type="submit"
            class="button--primary"
            name="commit"
            id="Subscribe"
            aria-label="Subscribe"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Stay Updated",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
      "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
      "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
    },
    {
      "type": "text",
      "id": "placeholder",
      "default": "Enter your email",
      "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Stay Updated",
      "blocks": []
    }
  ]
}
{% endschema %}
